html * {
	font-family: Arial,sans-serif;
}

body {
	color: black;
	background-color: white;
	align-content: center;
}

h1 {
	letter-spacing: 0.1em;
	padding-top: 35px;
	align-items: center;
	text-align: center;
	font-weight: 300;
}

.logocss {
			margin: 20px;
			width: 100px;
			float: left;

}
.logospstacss {
			margin: 20px;
			width: 250px;
			float: right;

}

#linktosite {
    color: dimgrey; 
    text-align: center;
    font-family: "Arial";
    text-decoration: none; 
    font-size: 20px;
    padding: 30px;
    height: 70px;
    top: 10px; 
    
    border: solid 2px;
    border-radius: 1px;
    padding: 5px 5px;
    transition-duration: 100ms;
}