html * {
	font-family: Arial,sans-serif;
}

body {
	color: black;
	background-color: white;
	align-content: center;
}

h1 {
	letter-spacing: 0.1em;
	padding-top: 50px;
	align-content: center;
	font-weight: 300;
}

.logocss {
			margin: 20px;
			width: 100px;
			float: left;

}
.logospstacss {
			margin: 20px;
			width: 250px;
			float: right;

}