html * {
	font-family: Arial,sans-serif;
}

body {
	color: black;
	background-color: white;
	align-content: center;
	text-align: center;
}

h1 {
	letter-spacing: 0.1em;
	padding-top: 35px;
	align-items: center;
	text-align: center;
	font-weight: 300;
}

h2 {
    font-weight: 150;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0px;
}


h3 {
	letter-spacing: 0.1em;
	padding-top: 35px;	
	align-items: left;
	text-align: left;
}

th {
    text-align: left;
    padding-bottom: 10px;
    margin: 30px;
    font-size: 11px;
}

td {
    text-align: left;
    font-size: 10px;
}

.logocss {
			margin: 20px;
			width: 150px;
			float: left;

}
.logospstacss {
			margin: 40px;
			width: 250px;
			float: right;

}

.new_sign_in {
			align-content: center;
			padding: 30px;

}


.links a {
    text-decoration: none;
    color: black;
    margin: 50px;
}



.anmeldeform {
	margin-bottom: 10px;
	margin-top: 5px;
	text-decoration: none;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    border-color: black;
    border-width: 1px;
    border-style: solid;	
}

.active {
	background-color: grey;
}

.active:hover {
	color: white;
	transition-duration: 100ms;
}

table { 
    padding-top: 50px;
    margin-left: 15px;
}

th {
    text-align: left;
    padding-bottom: 10px;
    margin: 30px;
}

td {
    text-align: left;
}

th:after {
    content: ""; 
    display: block; 
    width: 80%; 
    padding-top: 10px; 
    border-bottom: 0.5px solid black; 
}


.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 800px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.form-group-checkbox {
	padding: 20px;
	align-content: left;
	text-align: left;
}

.reihen {
    text-align: left;
    align-content: left;
    padding-left: 95px;
}

.btn-add {
    text-decoration: none;
    padding: 15px;
    color: grey; 
    background-color: white;
    display: inline-block;
    border: none;
    border-radius: 10px;	
    cursor: pointer;
    width: 250px;
    font-size: 20px;
    border: none;
    text-decoration: none; 
 
    
    border: solid 2px;
    border-radius: 1px;
    padding: 5px 5px;
    transition-duration: 100ms;
}

.btn-add:hover {
	color: black;
}

.checking {
    margin-bottom: 25px;
}

