<!DOCTYPE html>

<html lang="de">

 	<head>
    	<meta charset="utf-8"/>
    	<meta name="title" content="Anmeldung-SPSTA"/> 
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<meta name="datum" content="29. November 2019" />
    	<meta name="ort" content="3019 Bern" />
    	<title>ANMELDUNG SPSTA</title>
    	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
 	<body>
 			<img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
 			<img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
 		<h1>Anmeldeliste <br/>
 		Schweizerische Pferdesport- und Traintage der Armee</h1>    

    <div class="links">
        <a href="https://bernertrain.jimdo.com/pferdesport-traintage/">Homepage</a>
        <a href="{{ url_for('reitererfassen') }}">Beginne die Anmeldung</a>
        <a href="{{ url_for('anmeldeliste') }}" class="active">Anmeldeliste</a>
    </div>
<br>
<h2>Erfasste Reiter</h2>
{%if daten%}
  <table>
            <tr>
                <th>Grad</th>
                <th>Name</th>
                <th>Vorname</th>
                <th>Jahrgang</th>
                <th>Adresse</th>
                <th>PLZ</th>
                <th>Ort</th>
                <th>Tel. Nr.</th>
                <th>Lizenz oder Brevet Nr.</th>
                <th> Pferde Name</th>
                <th>Passnummer</th>
                <th>Geschlecht</th>
                <th>Farbe</th>
                <th>Alter</th>
                <th>Rasse</th>
                <th>Gewinnpunkte</th> 
                <th>Prüfung 1</th>
                <th>Prüfung 2</th>
                <th>Prüfung 3</th>
                <th>Prüfung 4</th>
                <th>Prüfung 5</th>
                <th>Prüfung 6</th>
                <th>Prüfung 7</th>
                <th>Prüfung 8</th>
                <th>Prüfung 9</th>
                <th>Prüfung 10</th>
                <th>Prüfung 11</th>
                <th>Prüfung 12</th>           
            </tr>
            
                {% for einreiter in daten['reiter'].values()%}
                <tr>
                  <td>{{einreiter['grad']}}</td> 
                  <td>{{einreiter['name']}}</td>  
                  <td>{{einreiter['vorname']}}</td> 
                  <td>{{einreiter['jahrgang']}}</td>  
                  <td>{{einreiter['adresse']}}</td> 
                  <td>{{einreiter['plz']}}</td>  
                  <td>{{einreiter['ort']}}</td> 
                  <td>{{einreiter['tel']}}</td>  
                  <td>{{einreiter['liz_brev']}}</td>
                  <td>{{einreiter['namepf']}}</td> 
                  <td>{{einreiter['passnummer']}}</td>  
                  <td>{{einreiter['geschlecht']}}</td> 
                  <td>{{einreiter['farbe']}}</td>  
                  <td>{{einreiter['alter']}}</td> 
                  <td>{{einreiter['rasse']}}</td>  
                  <td>{{einreiter['gwp']}}</td> 
                  <td>{{einreiter['pruefung1']}}</td>
                  <td>{{einreiter['pruefung2']}}</td>
                  <td>{{einreiter['pruefung3']}}</td>
                  <td>{{einreiter['pruefung4']}}</td>
                  <td>{{einreiter['pruefung5']}}</td>
                  <td>{{einreiter['pruefung6']}}</td>
                  <td>{{einreiter['pruefung7']}}</td>
                  <td>{{einreiter['pruefung8']}}</td>
                  <td>{{einreiter['pruefung9']}}</td>
                  <td>{{einreiter['pruefung10']}}</td>
                  <td>{{einreiter['pruefung11']}}</td>
                  <td>{{einreiter['pruefung12']}}</td>
                </tr>
                {% endfor %}
            
    </table>
    {% else %}
    <h1>Keine Anmeldungen erfasst</h1>
    {% endif %}
<!--
<h2>Pferd 1</h2>
{%if daten%}
  <table>
    <tr>
                <th>Name</th>
                <th>Passnummer</th>
                <th>Geschlecht</th>
                <th>Farbe</th>
                <th>Alter</th>
                <th>Rasse</th>
                <th>Gewinnpunkte</th> 
                <th>Prüfung 1</th>
                <th>Prüfung 2</th>
                <th>Prüfung 3</th>
                <th>Prüfung 4</th>
                <th>Prüfung 5</th>
                <th>Prüfung 6</th>
                <th>Prüfung 7</th>
                <th>Prüfung 8</th>
                <th>Prüfung 9</th>
                <th>Prüfung 10</th>
                <th>Prüfung 11</th>
                <th>Prüfung 12</th>

    </tr>
                    {% for einreiter in daten['reiter'].values()%}
                <tr>
                  <td>{{einreiter['namepf']}}</td> 
                  <td>{{einreiter['passnummer']}}</td>  
                  <td>{{einreiter['geschlecht']}}</td> 
                  <td>{{einreiter['farbe']}}</td>  
                  <td>{{einreiter['alter']}}</td> 
                  <td>{{einreiter['rasse']}}</td>  
                  <td>{{einreiter['gwp']}}</td> 
                  <td>{{einreiter['pruefung1']}}</td>
                  <td>{{einreiter['pruefung2']}}</td>
                  <td>{{einreiter['pruefung3']}}</td>
                  <td>{{einreiter['pruefung4']}}</td>
                  <td>{{einreiter['pruefung5']}}</td>
                  <td>{{einreiter['pruefung6']}}</td>
                  <td>{{einreiter['pruefung7']}}</td>
                  <td>{{einreiter['pruefung8']}}</td>
                  <td>{{einreiter['pruefung9']}}</td>
                  <td>{{einreiter['pruefung10']}}</td>
                  <td>{{einreiter['pruefung11']}}</td>
                  <td>{{einreiter['pruefung12']}}</td>
                </tr>
                {% endfor %}
-->
    </table>
    {% else %}
    <h1>Keine Anmeldungen erfasst</h1>
    {% endif %}


	</body>

</html>