<!DOCTYPE html>

<html lang="de">

 	<head>
    	<meta charset="utf-8"/>
    	<meta name="title" content="Anmeldung-SPSTA"/> 
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<meta name="datum" content="29. November 2019" />
    	<meta name="ort" content="3019 Bern" />
    	<title>ANMELDUNG SPSTA</title>
    	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
 	<body>
 			<img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
 			<img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
 		<h1>Anmeldeliste <br/>
 		Schweizerische Pferdesport- und Traintage der Armee</h1>    
<!-- Abschlusseite nach der Anmeldung. Hier kann der User wie erwähnt nochmals zu Anmledung zurück um ein weiters Pferd (mit sich selber) anzumelden oder auch wieder zurück auf die Homepage-->
    <div class="links">
        <a href="{{ url_for('startseite') }}">Landing Page</a>
        <a target="_blank" href="https://bernertrain.jimdo.com/pferdesport-traintage/">Homepage BTG</a>
        <a href="{{ url_for('reitererfassen') }}">Beginne die Anmeldung</a>
        <a href="{{ url_for('anmeldeliste') }}">Anmeldeliste</a>
    </div>

    <h2>Vielen Dank für die Anmeldung.</h2>
    <br/>
    <a target="_blank" href="https://bernertrain.jimdo.com/pferdesport-traintage/" type="submit" name="" class="btn-add">Zurück BTG zur Homepage</a>
    <a href="{{ url_for('reitererfassen') }}" type="submit" name="" class="btn-add">Zurück zur Anmeldung</a>

</body>

</html>