<!--In meinem Header soll der User immer dieselbe Übersicht erhalten um auf die veschiedenen Seiten wechseln  zu können. Hier habe ich Sie zum ersten Mal erstellt-->
<!DOCTYPE html>

<html lang="de">

  <head>
      <meta charset="utf-8"/>
      <meta name="title" content="Anmeldung-SPSTA"/> 
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="datum" content="29. November 2019" />
      <meta name="ort" content="3019 Bern" />
      <title>ANMELDUNG SPSTA</title>
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
  <body>
      <img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
      <img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
    <h1>Anmeldung <br/>
    Schweizerische Pferdesport- und Traintage der Armee</h1>    

    <div class="links">
        <a href="{{ url_for('startseite') }}" class="active">Landing Page</a>
        <a href="https://bernertrain.jimdo.com/pferdesport-traintage/">Homepage BTG</a>
        <a href="{{ url_for('reitererfassen') }}">Beginne die Anmeldung</a>
        <a href="{{ url_for('anmeldeliste') }}">Anmeldeliste</a>
    </div>
<p>Die Schweizerischen Pferdesport- und Traintage der Armee sind ein ausserdienstlicher Anlass, bei welchem sich aktive und ehemalige Armeeangehörige in verschiedenen Disziplinen des Pferdesports messen. Zusätzlich werden jedes Jahr auch die Freunde vom Grenzwachtkorps und den kantonalen Polizeikorps eingeladen.
Die nächsten Schweizerischen Pferdesport- und Traintage der Armee finden vom
 25. - 27. September 2019 (Trainingstag am 25. September 2020) statt!

Auf dieser Seite können Sie sich für die entsprechenden Prüfungen anmelden.</p>
  </body>

</html>