<!DOCTYPE html>

<html lang="de">

 	<head>
    	<meta charset="utf-8"/>
    	<meta name="title" content="Anmeldung-SPSTA"/> 
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<meta name="datum" content="29. November 2019" />
    	<meta name="ort" content="3019 Bern" />
    	<title>ANMELDUNG SPSTA</title>
    	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
 	<body>
 			<img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
 			<img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
 		<h1>Anmeldung <br/>
 		Schweizerische Pferdesport- und Traintage der Armee</h1>

 	<form class="new_sign_in" method="POST">	
 	 	<p id="reiter">Bitte geben Sie die Daten für den Reiter ein</p>
 		<label for="grad">Grad</label>
 		<input type="text" name="grad" placeholder="Grad"><br/>
 		<label for="name">Name</label>
 		<input type="text" name="name" placeholder="Name"><br/>
 		<label for="vorname">Vorname</label>
 		<input type="text" name="vorname" placeholder="Vorname"><br/>
 		<label for="jahrgang">Jahrgang</label>
 		<input type="text" name="jahrgang" placeholder="Jahrgang"><br/>
 		<label for="adresse">Adresse</label>
 		<input type="text" name="adresse" placeholder="Adresse"><br/>
 		<label for="plz">PLZ</label>
 		<input type="text" name="plz"placeholder="PLZ"><br/>
 		<label for="ort">Ort</label>
 		<input type="text" name="ort" placeholder="Ort"><br/>
 		<label for="tel">Tel. Nr.</label>
 		<input type="text" name="tel" placeholder="Tel. Nr."><br/>
 		<label for="liz_brev">Lizenz oder Brevet Nr.</label>
 		<input type="text" name="liz_brev" placeholder="Lizenz oder Brevet Nr."><br/>

 	 	<p id="pferd1">Bitte geben Sie die Daten für das erste Pferd ein</p>
 		<label for="namepf">Name</label>
 		<input type="text" name="namepf" placeholder="Name"><br/>
 		<label for="passnummer">Passnummer</label>
 		<input type="text" name="passnummer" placeholder="Passnummer"><br/>
 		<label for="geschlecht">Geschlecht</label>
 		<input type="text" name="  geschlecht" placeholder="Geschlecht"><br/>
 		<label for="farbe">Farbe</label>
 		<input type="text" name="farbe" placeholder="Farbe"><br/>
 		<label for="alter">Alter</label>
 		<input type="text" name="alter"placeholder="Alter"><br/>
 		<label for="rasse">Rasse</label>
 		<input type="text" name="rasse" placeholder="Rasse"><br/>
 		<label for=gwp>Gewinnpunkte (laufendes und letztes Jahr)</label>
 		<input type="text" name="gwp" placeholder="Gewinnpunkte"><br/>

 		<label for="pfnr">Prünfungsnummer</label><br/>
  		<input type="checkbox" name="pruefung1" value="nr1">Prüfung 1: Dressur Stufe 1<br>
  		<input type="checkbox" name="pruefung2" value="nr2">Prüfung 2: Dressur Stufe 2<br>
  		<input type="checkbox" name="pruefung3" value="nr3">Prüfung 3: Springen Stufe 1<br>
  		<input type="checkbox" name="pruefung4" value="nr4">Prüfung 4: Springen Stufe 2<br>
  		<input type="checkbox" name="pruefung5" value="nr5">Prüfung 5: Derby Stufe 1<br>
  		<input type="checkbox" name="pruefung6" value="nr6">Prüfung 6: Derby Stufe 2<br>
  		<input type="checkbox" name="pruefung7" value="nr7">Prüfung 7: Equipenspringen<br>
  		<input type="checkbox" name="pruefung8" value="nr8">Prüfung 8: Kombi Stufe 1<br>
  		<input type="checkbox" name="pruefung9" value="nr9">Prüfung 9: Kombi Stufe 2<br>
  		<input type="checkbox" name="pruefung10" value="nr10">Prüfung 10: Helferspringen<br>
  		<input type="checkbox" name="pruefung11" value="nr11">Prüfung 11: Fahrprüfung<br>
  		<input type="checkbox" name="pruefung12" value="nr12">Prüfung 12: Trainwettkampf<br>

 	 	<p id="pferd2">Bitte geben Sie die Daten für das zweite Pferd ein (falls vorhanden)</p>
 		<label for="namepf2">Name</label>
 		<input type="text" name="namepf2" placeholder="Name"><br/>
 		<label for="passnummer2">Passnummer</label>
 		<input type="text" name="passnummer2" placeholder="Passnummer"><br/>
 		<label for="geschlecht2">Geschlecht</label>
 		<input type="text" name="geschlecht2" placeholder="Geschlecht"><br/>
 		<label for="farbe2">Farbe</label>
 		<input type="text" name="farbe2" placeholder="Farbe"><br/>
 		<label for="alter2">Alter</label>
 		<input type="text" name="alter2"placeholder="Alter"><br/>
 		<label for="rasse2">Rasse</label>
 		<input type="text" name="rasse2" placeholder="Rasse"><br/>
 		<label for=gwp2>Gewinnpunkte (laufendes und letztes Jahr)</label>
 		<input type="text" name="gwp2" placeholder="Gewinnpunkte"><br/>

 		<label for="pfnr">Prünfungsnummer</label><br/>
  		<input type="checkbox" name="pruefung1pf2" value="nr1">Prüfung 1: Dressur Stufe 1<br>
  		<input type="checkbox" name="pruefung2pf2" value="nr2">Prüfung 2: Dressur Stufe 2<br>
  		<input type="checkbox" name="pruefung3pf2" value="nr3">Prüfung 3: Springen Stufe 1<br>
  		<input type="checkbox" name="pruefung4pf2" value="nr4">Prüfung 4: Springen Stufe 2<br>
  		<input type="checkbox" name="pruefung5pf2" value="nr5">Prüfung 5: Derby Stufe 1<br>
  		<input type="checkbox" name="pruefung6pf2" value="nr6">Prüfung 6: Derby Stufe 2<br>
  		<input type="checkbox" name="pruefung7pf2" value="nr7">Prüfung 7: Equipenspringen<br>
  		<input type="checkbox" name="pruefung8pf2" value="nr8">Prüfung 8: Kombi Stufe 1<br>
  		<input type="checkbox" name="pruefung9pf2" value="nr9">Prüfung 9: Kombi Stufe 2<br>
  		<input type="checkbox" name="pruefung10pf2" value="nr10">Prüfung 10: Helferspringen<br>
  		<input type="checkbox" name="pruefung11pf2" value="nr11">Prüfung 11: Fahrprüfung<br>
  		<input type="checkbox" name="pruefung12pf2" value="nr12">Prüfung 12: Trainwettkampf<br>

      <input type="submit" name="" value="Absenden" class="btn-add">

	</form>

	</body>

</html>