<!DOCTYPE html>

<html lang="de">

 	<head>
    	<meta charset="utf-8"/>
    	<meta name="title" content="Anmeldung-SPSTA"/> 
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<meta name="datum" content="29. November 2019" />
    	<meta name="ort" content="3019 Bern" />
    	<title>ANMELDUNG SPSTA</title>
    	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>

 	<body>
 			<img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
 			<img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
 		<h1>Anmeldung <br/>
 		Schweizerische Pferdesport- und Traintage der Armee</h1>
    
<div class="container">
 	<form class="new_sign_in" method="POST">
  <div class="form-group">
        <p id="pferd1">Bitte geben Sie die Daten für das erste Pferd ein</p>
        <label for="namepf">Name</label>
        <input type="text" name="namepf" placeholder="Name"><br/>
        <label for="passnummer">Passnummer</label>
        <input type="text" name="passnummer" placeholder="Passnummer"><br/>
        <label for="geschlecht">Geschlecht</label>
        <input type="text" name="geschlecht" placeholder="Geschlecht"><br/>
        <label for="farbe">Farbe</label>
        <input type="text" name="farbe" placeholder="Farbe"><br/>
        <label for="alter">Alter</label>
        <input type="text" name="alter"placeholder="Alter"><br/>
        <label for="rasse">Rasse</label>
        <input type="text" name="rasse" placeholder="Rasse"><br/>
        <label for=gwp>Gewinnpunkte (laufendes und letztes Jahr)</label>
        <input type="text" name="gwp" placeholder="Gewinnpunkte"><br/>
        <br/>


      <input type="submit" id="linktosite" name="" value="Absenden" class="btn-add">
      <input type="submit" id="linktosite" name="" value="weiteres Pferd erfassen" class="btn-add">
</div>
</form>
</div>

	</body>

</html>