<!DOCTYPE html>

<html lang="de">

    <head>
        <meta charset="utf-8"/>
        <meta name="title" content="Anmeldung-SPSTA"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="datum" content="29. November 2019" />
        <meta name="ort" content="3019 Bern" />
        <title>ANMELDUNG SPSTA</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>

    <body>
        <img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
        <img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
        <h1>Anmeldung <br/>
        Schweizerische Pferdesport- und Traintage der Armee</h1>
    
    <div class="links">
        <a target="_blank" href="https://bernertrain.jimdo.com/pferdesport-traintage/">Homepage BTG</a>
        <a href="{{ url_for('reitererfassen') }}" class="active">Beginne die Anmeldung</a>
        <a href="{{ url_for('anmeldeliste') }}">Anmeldeliste</a>
    </div>

<h2>Bitte geben Sie die notwendigen Daten ein:</h2>
<form class="new_sign_in" method="POST">
<div class="row">
    <div class="column">
    <div class="container">
                <div class="form-group reihen">
                    <h3>Reiter</h3>

                    <input type="text" name="grad" placeholder="Grad" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="name" placeholder="Nachname" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="vorname" placeholder="Vorname" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="jahrgang" placeholder="Jahrgang" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="adresse" placeholder="Adresse" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="plz"placeholder="PLZ" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="ort" placeholder="Ort" class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="tel" placeholder="Tel. Nr." class="anmeldeform"><br/>
                    <br>
                    <input type="text" name="liz_brev" placeholder="Lizenz oder Brevet Nr." class="anmeldeform"><br/>
                </div>
            
    </div>
    </div>
    <div class="column">
        <div class="container">
        <div class="form-group reihen">
            <h3>Pferd</h3>
            <input type="text" name="namepf" placeholder="Name" class="anmeldeform"><br/>
            <br/>
            <input type="text" name="passnummer" placeholder="Passnummer"class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="geschlecht" placeholder="Geschlecht" class="anmeldeform"><br/>
            <br/>
            <input type="text" name="farbe" placeholder="Farbe" class="anmeldeform"><br/>
            <br/>
            <input type="text" name="alter"placeholder="Alter" class="anmeldeform"><br/>
            <br/>
            <input type="text" name="rasse" placeholder="Rasse" class="anmeldeform"><br/>
            <br/>
            <input type="text" name="gwp" placeholder="Gewinnpunkte" class="anmeldeform"><br/>
            <label style="font-size: 12px;">(Laufendes und letztes Jahr)</label>
        </div>
</div>
</div>
<div class="column">
    <div class="container">
    <div class="form-group reihen">
            <h3>Prüfungsnummer</h3>
            <label><input type="checkbox" class="checking" name="pruefung1" value="nr1">&nbsp;&nbsp;Prüfung 1:&nbsp;&nbsp; &nbsp;&nbsp; Dressur Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung2" value="nr2">&nbsp;&nbsp;Prüfung 2:&nbsp;&nbsp; &nbsp;&nbsp; Dressur Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung3" value="nr3">&nbsp;&nbsp;Prüfung 3:&nbsp;&nbsp; &nbsp;&nbsp; Springen Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung4" value="nr4">&nbsp;&nbsp;Prüfung 4:&nbsp;&nbsp; &nbsp;&nbsp; Springen Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung5" value="nr5">&nbsp;&nbsp;Prüfung 5:&nbsp;&nbsp; &nbsp;&nbsp; Derby Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung6" value="nr6">&nbsp;&nbsp;Prüfung 6:&nbsp;&nbsp; &nbsp;&nbsp; Derby Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung7" value="nr7">&nbsp;&nbsp;Prüfung 7:&nbsp;&nbsp; &nbsp;&nbsp; Equipenspringen<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung8" value="nr8">&nbsp;&nbsp;Prüfung 8:&nbsp;&nbsp; &nbsp;&nbsp; Kombi Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung9" value="nr9">&nbsp;&nbsp;Prüfung 9:&nbsp;&nbsp; &nbsp;&nbsp; Kombi Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung10" value="nr10">&nbsp;&nbsp;Prüfung 10:&nbsp;&nbsp;&nbsp; Helferspringen<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung11" value="nr11">&nbsp;&nbsp;Prüfung 11:&nbsp; &nbsp;&nbsp; Fahrprüfung<br/></label>
            <label><input type="checkbox" class="checking" name="pruefung12" value="nr12">&nbsp;&nbsp;Prüfung 12:&nbsp;&nbsp; &nbsp;Trainwettkampf<br/></label>
            <br/>

          <input type="submit" name="" id="myModal" value="Absenden" class="btn-add">
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

        </div>
</div>
    </div>

    <script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
   </form>
    </body>

</html>