<!DOCTYPE html>

<html lang="de">

    <head>
        <meta charset="utf-8"/>
        <meta name="title" content="Anmeldung-SPSTA"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="datum" content="29. November 2019" />
        <meta name="ort" content="3019 Bern" />
        <title>ANMELDUNG SPSTA</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>

    <body>
        <img src="{{url_for('static', filename='btglogo.jpg')}}" class="logocss">
        <img src="{{url_for('static', filename='spstalogo.png')}}" class="logospstacss">
        <h1>Anmeldung <br/>
        Schweizerische Pferdesport- und Traintage der Armee</h1>
    
    <div class="links">
        <a target="_blank" href="https://bernertrain.jimdo.com/pferdesport-traintage/">Homepage BTG</a>
        <a href="{{ url_for('reitererfassen') }}" class="active">Beginne die Anmeldung</a>
        <a href="{{ url_for('anmeldeliste') }}">Anmeldeliste</a>
    </div>
<!--Die Informationen für eine Anmeldung werden hier hinzugefügt. Mit der method "POST" im Formularelement wird der Befehl dem Browser gegeben, sodass der Webserver die Daten zur Verarbeitung erhält. Im main.py wird in der def addanevent gesagt was mit den Daten gemacht wird. 
Die Daten werden beantrag. Anschliessend wird die returned data im reiter_erfassen.py verarbeitet. 

Nachdem alles eigegeben ist und man auf Absenden klickt, gelangt man auf die Bestätigungsseite. Organisatoren können auf der Hauptseite direkt das HTML 'Anmeldelsite' öffnen um die aktuelle Liste zu sehen.
-->
<h2>Bitte geben Sie die notwendigen Daten ein:</h2>
<form class="new_sign_in" method="POST">
<div class="row">
    <div class="column">
    <div class="container">
                <div class="form-group reihen">
                    <h3>Reiter</h3>

                    <input type="text" name="grad" placeholder="Grad" class="anmeldeform" required  ><br/>
                    <br>
                    <input type="text" name="name" placeholder="Nachname" class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="vorname" placeholder="Vorname" class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="jahrgang" placeholder="Jahrgang" class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="adresse" placeholder="Adresse" class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="plz"placeholder="PLZ" class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="ort" placeholder="Ort" class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="tel" placeholder="Tel. Nr." class="anmeldeform" required><br/>
                    <br>
                    <input type="text" name="liz_brev" placeholder="Lizenz oder Brevet Nr." class="anmeldeform" required><br/>
                </div>
            
    </div>
    </div>
    <div class="column">
        <div class="container">
        <div class="form-group reihen">
            <h3>Pferd</h3>
            <input type="text" name="namepf" placeholder="Name" class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="passnummer" placeholder="Passnummer"class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="geschlecht" placeholder="Geschlecht" class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="farbe" placeholder="Farbe" class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="alter"placeholder="Alter" class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="rasse" placeholder="Rasse" class="anmeldeform" required><br/>
            <br/>
            <input type="text" name="gwp" placeholder="Gewinnpunkte" class="anmeldeform" required><br/>
            <label style="font-size: 12px;">(Laufendes und letztes Jahr)</label>
        </div>
</div>
</div>
<div class="column">
    <div class="container">
    <div class="form-group reihen">
            <h3>Prüfungsnummer</h3>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr1">&nbsp;&nbsp;Prüfung 1:&nbsp;&nbsp; &nbsp;&nbsp; Dressur Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr2">&nbsp;&nbsp;Prüfung 2:&nbsp;&nbsp; &nbsp;&nbsp; Dressur Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr3">&nbsp;&nbsp;Prüfung 3:&nbsp;&nbsp; &nbsp;&nbsp; Springen Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr4">&nbsp;&nbsp;Prüfung 4:&nbsp;&nbsp; &nbsp;&nbsp; Springen Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr5">&nbsp;&nbsp;Prüfung 5:&nbsp;&nbsp; &nbsp;&nbsp; Derby Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr6">&nbsp;&nbsp;Prüfung 6:&nbsp;&nbsp; &nbsp;&nbsp; Derby Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr7">&nbsp;&nbsp;Prüfung 7:&nbsp;&nbsp; &nbsp;&nbsp; Equipenspringen<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr8">&nbsp;&nbsp;Prüfung 8:&nbsp;&nbsp; &nbsp;&nbsp; Kombi Stufe 1<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr9">&nbsp;&nbsp;Prüfung 9:&nbsp;&nbsp; &nbsp;&nbsp; Kombi Stufe 2<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr10">&nbsp;&nbsp;Prüfung 10:&nbsp;&nbsp;&nbsp; Helferspringen<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr11">&nbsp;&nbsp;Prüfung 11:&nbsp; &nbsp;&nbsp; Fahrprüfung<br/></label>
            <label><input type="checkbox" class="checking" name="pruefungen" value="nr12">&nbsp;&nbsp;Prüfung 12:&nbsp;&nbsp; &nbsp;Trainwettkampf<br/></label>
            <br/>

          <input type="submit" name="" value="Absenden" class="btn-add">
        </div>
</div>
    </div>
   </form>
    </body>

</html>